[submodule "services/yt-downloader/services/yt-downloader/ydl_api_ng"]
	path = services/yt-downloader/services/yt-downloader/ydl_api_ng
	url = https://github.com/Totonyus/ydl_api_ng.git
[submodule "services/yt-downloader/ih"]
	path = services/yt-downloader/ih
	url = https://github.com/Totonyus/ydl_api_ng.git
[submodule "services/yt-downloader/ydl_api"]
	path = services/yt-downloader/ydl_api
	url = https://github.com/Totonyus/ydl_api_ng.git
